*~
*.bag
*.pyc
.DS_Store
.idea
.project
.pydevproject
.settings
.remote-sync.json
catkin_ws/src/00-infrastructure/duckietown/machines
anti_instagram_annotations_test/
*dl=1
out/comptests
config_db.cache
./caches/
caches/
catkin_ws/src/CMakeLists.txt
.compmake_history.txt
t
out-comptests/
out-make_videos.py
out-programmatic.py
out-programmatic
out-detector-tests/
catkin_ws/src/00-infrastructure/easy_logs/cloud.yaml
catkin_ws/src/XX-exercises/
.ipynb_checkpoints
out-*
what_the_duck*html
fleet.html
roster.html
